.tarefas {
  margin-top: 30px;
}

.tarefas li {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 200ms ;
}

.tarefas li:hover {
  background-color: #51c5de;;
}

.tarefas .edit {
  margin-right: 15px;
  color: #51c5de;
  cursor: pointer;
}

.tarefas .close {
  color: #f04c64;
  cursor: pointer;
}

.tarefas li:hover .edit, .tarefas li:hover .close {
  color: #000;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
